server:
  port: 8081

spring:
  application:
    name: business-service
  datasource:
    url: jdbc:h2:mem:businessdb
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/