server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: business-service
          uri: lb://business-service
          predicates:
            - Path=/api/businesses/**
        - id: review-service
          uri: lb://review-service
          predicates:
            - Path=/api/reviews/**

  eureka:
    client:
      serviceUrl:
        defaultZone: http://discovery-server:8761/eureka/
