name: Locafy CI/CD Pipeline
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest


    defaults:
      run:
        working-directory: ./locafy-microservices

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # Setup Node.js (Required for Newman)
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    # Install Newman (The Postman CLI)
    - name: Install Newman
      run: npm install -g newman

    # build projects
    - name: Build and Test Services
      run: |
        mvn clean package -f discovery-server/pom.xml
        mvn clean package -f api-gateway/pom.xml
        mvn clean package -f business-service/pom.xml
        mvn clean package -f review-service/pom.xml
        mvn clean package -f notification-service/pom.xml

    # Build Docker Images
    - name: Build Docker Images
      run: docker compose build

    # Start Services (Deployment)
    - name: Start Services
      run: docker compose up -d

    # 8. Wait for Healthy Services
    # We wait 60 seconds to ensure RabbitMQ and Eureka are fully connected
    - name: Wait for Startup
      run: sleep 60

    # 9. Run Postman Integration Tests (Newman)
    - name: Run Postman Tests
      run: |
        newman run tests/postman_collection.json --verbose

    - name: Test Notification-Service Activity
      run: |
        docker logs notification-service
